# Compiled objects
*.o
*.obj
**/bin/
**/out/
*.out

# Executables
*.exe
*.elf

# Dependencies
*.d

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Build directories
build/
cmake_build/
dist/

# OS files
.DS_Store
Thumbs.db

# CMake
CMakeUserPresets.json

cpp01/ex05/harl
cpp01/ex06/harlFilter

cpp02/ex00/fixed
cpp02/ex01/fixed
cpp02/ex02/fixed

cpp06/ex00/convert

cpp07/ex00/whatever
cpp07/ex01/iter
cpp07/ex02/array

cpp08/ex00/easyfind
cpp08/ex01/span
cpp08/ex02/mutantstack

cpp09/ex00/btc
cpp09/ex01/RPN
cpp09/ex02/PmergeMe